<div class="min-h-full">
  
    <app-navbar></app-navbar>
    <div class="bg-cover bg-center bg-fixed" style="background-image: url('https://github.com/Isaac-kiptoo-kilimo/XPLORA-TOURS-TRAVEL-BOOKING-APP/blob/master/XTT-NG-FRONTEND/src/assets/images/background-color.jpg?raw=true')">
      <header class=" shadow">
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-white">Dashboard</h1>
        </div>
      </header>
    </div>
      <main>
        <div class="mx-auto flex justify-between max-w-7xl py-6 sm:px-6 lg:px-8">
          <div>
              <h1 class="text-3xl font-bold tracking-tight text-gray-900">Tours</h1>
          </div>
          <div>
              <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" (click)="visible = !visible">Create Tour</button>
          </div>
        </div>
        <br />

        <main>
          <div class="mx-auto flex justify-between max-w-7xl py-6 sm:px-6 lg:px-8">
            <div>
                <h1 class="text-3xl font-bold tracking-tight text-gray-900">Users</h1>
            </div>
            <div>
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Manage profiles</button>
            </div>
          </div>
        </main>
      </main>
    </div>
    <div *ngIf = "!visible" class="relative newTour z-10 h-full" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    
      <div  class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    
      <div class="fixed createTour inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
          <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
        
            <div class="pointer-events-auto relative w-screen max-w-md">
           
              <div class="absolute left-0 top-0 -ml-8 flex pr-2 pt-4 sm:-ml-10 sm:pr-4">
                <button data-cy="close-create-tour-modal" (click)="visible=!visible" type="button" class=" btn relative rounded-md text-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                  <span class="absolute -inset-2.5"></span>
                  <span class="sr-only">Close panel</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
    
              <div class="flex h-full modal flex-col overflow-y-scroll bg-white py-6 shadow-xl">
                <div class="px-4 sm:px-6">
                  <h2 class="text-base font-semibold leading-6 text-gray-900" id="slide-over-title">CREATE TOUR & DESTINATION</h2>
                </div>
                <div class="relative mt-6 flex-1 px-4 sm:px-6">
                  <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    
                        <form  class="p-4 md:p-5 " [formGroup]="createTourForm" (ngSubmit)="createTour()" >
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                    <input data-cy="tour-name" type="text" formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Tour Name" required="">
                                </div>
                             
                              <div class="col-span-2">
                                <label for="destination" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Destination</label>
                                <input data-cy="destination" type="text" formControlName="destination" class=" destination bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Destination" required="">
                            </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                    <input data-cy="price" type="number" formControlName="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="$2999" required="">
                                </div>
                                <div class="col-span-2 sm:col-span-1">
                                    <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Place</label>
                                    <select data-cy="type" formControlName="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" >
                                      <option  value="" disabled selected>Select Tour Type</option>                                      <option  value="Hiking">Hiking</option>
                                        <option value="Cultural Excursions">Cultural Excursions</option>
                                        <option value="Weekend Gateways">Weekend Gateways</option>
                                        <option value="Mountain Climbing">Mountain Climbing</option>
                                    </select>
                                </div>
                                <div class="col-span-2">
                                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                    <textarea data-cy="description" formControlName="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write Tour description here"></textarea>                    
                                </div>
                                <div class="col-span-2">
                                  <label for="startDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Start Date</label>
                                  <input data-cy="startDate" type="date" formControlName="startDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
                                  <div *ngIf="createTourForm.get('startDate')?.hasError('startDateInvalid')" class="text-red-500">Start date should be greater than or equal to today</div>
                              </div>
                              <div class="col-span-2">
                                <label for="endDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">End Date</label>
                                <input data-cy="endDate" type="date" formControlName="endDate" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Type product name" required="">
                                <div *ngIf="createTourForm.get('endDate')?.hasError('endDateInvalid')" class="text-red-500">End date should be greater than start date</div>
                            </div>
                            <!-- <div class="col-span-2">
                              <label for="duration" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Duration</label>
                              <input type="text" formControlName="duration" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="duration" required="">
                          </div> -->
                            </div>
                            <button data-cy="add-event-btn" type="submit"  class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                Add Event
                            </button>
                        </form>







                    </div>
                </div>
                </div>
                

               
              </div>

              

                  
              </div>
            </div>
          </div>
        </div>
      </div>


 



  