

<section class="nav-bar">
    <div class="logo">FK RESORT</div>
    <ul class="menu">
        <li>
            <a  routerLink="">Home</a>
        </li>

        <li>
            <a routerLink="/admin">Admin</a>
        </li>

        <li >
            <a routerLink="/register">Register</a>
        </li>

        <li> 
            <a routerLink="/login" >Login</a>
        </li>

        <li>
            <a href="/notfound">Not-found</a>
        </li>

        <!-- <li  routerLink="/logOut" (click)="logOut()" *ngIf="isLoggedIn" >Logout</li> -->
    </ul>
    
</section>
