.text-center{
    background-image: url('https://freefrontend.com/assets/img/html-funny-404-pages/HTML-404-Error-Page.gif');
     background-repeat: no-repeat; 
     background-position: center;
     background-size: cover;
     height: 70vh;
}

